@model InternshipApp.ViewModels.LoginVM

@{
    ViewData["Title"] = "Вход";
}

<h2>Вход</h2>

<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div>
        <button type="submit">Войти</button>
    </div>
</form>

<p>Нет аккаунта? <a href="/Account/Register">Зарегистрироваться</a></p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
