@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center mt-5">
    <h1 class="display-4">Добро пожаловать в InternshipApp!</h1>
    <p class="lead">Пожалуйста, используйте кнопки "Вход" и "Регистрация" в верхнем меню.</p>
</div>

