@model List<Common.Models.ApplicationUser>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Email</th>
            <th>Роль</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <button class="btn btn-sm btn-danger delete-user-btn" data-user-id="@user.Id">Удалить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

